.container-header{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 10% 10%;
        background-color: #FFFFFF;
        text-align: center;
}

.slogan{
    grid-row: span 1;
}

.main-title{
    font-size: 2rem;
    grid-row: span 2;
    height: .5rem;
}